.content
  .left
    .left__header
      =render partial: "shared/left__header"
    .left__content
      = render partial: "shared/group", collection: @groups
  .right
    .right__header
      = link_to edit_group_path(@group) do
        %p.edit_button Edit
      %h4.group_name #{ @group.name }
      %p.group_member
        Members:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .right__content
      = render partial: "shared/message", collection: @messages
    .right__footer
      = form_for([@group, @message]) do |f|
        = f.text_field :body, placeholder: "type a message here!", class: 'form right__footer__box'
        %i.fa.fa-picture-o{ aria: { hidden: true } }
        = image_tag @message.image.url if @message.image?
        = f.file_field :image
        = f.hidden_field :image_cache
        = f.button :Send, class: 'send_button', html: { data: { disable: { with: "Save" }}, name: "commit", type: "submit", value: "Save" }
