.content
  .left
    .left__header
      = render partial: "shared/left__header"
    .left__content
      = render @groups
  .right
    .right__header
      = render partial: "right/right__header", locals: {group: @group}
    .right__content
      = render @messages
    .right__footer
      = render partial: "right/right__footer", locals: {group: @group, message: @message}
