.content
  .left
    .left__header
      .icons
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o{ aria: { hidden: true } }
        = link_to edit_user_registration_path do
          %i.fa.fa-cog{ aria: { hidden: true } }
      %h5.user_name #{ current_user.name }
    .left__content
      = render partial: "shared/group", collection: @groups
  .right
    .right__header
      = link_to edit_group_path(@group) do
        %p.edit_button Edit
      %h4.group_name #{ @group.name }
      %p.group_member
        Members:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .right__content
      = render partial: "shared/message", collection: @messages

    .right__footer
      = form_for([@group, @message]) do |f|
        = f.text_field :body, placeholder: "type your message, yeah!!!", class: 'right__footer__box'
        %i.fa.fa-picture-o{ aria: { hidden: true } }
        = f.button :Send, class: 'send_button', html: { data: { disable: { with: "Save" }}, name: "commit", type: "submit", value: "Save" }
