.content
  .left
    .left__header
      = render partial: "shared/left__header"
    .left__content
      = render partial: "shared/left__content", locals: {groups: current_user.groups}
  .right
    .right__header
      = render partial: "shared/right__header", locals: {group: @group}
    .right__content
      = render partial: "shared/right__content", locals: {messages: @messages}
    .right__footer
      = render partial: "shared/right__footer"
