= form_for([@group, @message]) do |f|
  = f.text_field :body, placeholder: "type a message here!", class: 'form right__footer__box'
  %i.fa.fa-picture-o{ aria: { hidden: true } }
  = image_tag @message.image.url if @message.image?
  = f.file_field :image
  = f.hidden_field :image_cache
  = f.button :Send, class: 'send_button', html: { data: { disable: { with: "Save" }}, name: "commit", type: "submit", value: "Save" }
