!!!
%html
  %head
    - if notice
      %p.alert.alert-notice.header= notice
    - if alert
      %p.alert.alert-error.header= alert
    %title ChatSpace
    = Gon::Base.render_data
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: true } }
    = javascript_include_tag 'application', data: { turbolinks: { track: true } }
    = csrf_meta_tags
  %body

    = yield
