!!!
%html
  %head
    - if notice
      %p.alert.alert-notice.header= notice
    - if alert
      %p.alert.alert-error.header= alert
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: true } }
    = javascript_include_tag 'application', data: { turbolinks: { track: true } }
    = csrf_meta_tags
  %body

    = yield
